@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap");

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.hero h1,
.hero-heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
